@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald:wght@400;600&display=swap');

:root {
    --darkest: rgba(0, 0, 0, 0.75);
    --medium: #6f6c9e; /* nav links */
    --lightest: #e3c09b; /* hover */
    --accent: #bb7db2; /* accent */
}

body {
    background: transparent;
    font-family: 'Oswald', sans-serif;
    color: var(--medium);
    display: grid;
    overflow-x: hidden;
}

a, a:visited {
    text-decoration: none;
    cursor: pointer;
    color: var(--medium);
}

a:hover, a:active {
    color: var(--lightest);
}

.main-header {
    width: 95%;
    padding: 0;
    position: fixed;
    top: 0;
    background: transparent;
    z-index: 1;
}

#menu-button {
    width: 4rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    position: absolute;
    z-index: 15;
}

#menu-button:focus {
  outline: none;
}

.menu-button__bar {
  width: 3rem;
  height: 0.2rem;
  background: var(--medium);
  position: absolute;
  display: block;
}

.menu-button__bar::before, .menu-button__bar::after {
    content:'';
    width: 3rem;
    height: 0.2rem;
    background: var(--medium);
    position: absolute;
    display:block;
    
}

.menu-button__bar::before {
    top: 10px;
    left: 0;
    transform-origin: left top;
    
}

.menu-button__bar::after {
    bottom: -20px;
    left: 0;
    transform-origin:  left bottom;
}

.mobile-nav {
  display:none;
  position: absolute;
  z-index: 9;
  margin: 0;
  padding: 5rem 0;
  background: white;
  width: 90%;
  height: 100%;
 
}

.mobile-nav__items {
  width: 70%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

#navbar {
    display: none;
}

#navbar ul {
  width: 18rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style:none;

}

#navbar li {
    font-variant:small-caps;
    font-size:1.2rem;
}

.main-header__title {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

main {
 width: 100%;
}


footer {
    display: flex;
    justify-content: center;
}

footer li {
    display: inline-block;
    margin: 0;
    padding: 0 2.5rem;
}

.show {
    display: block !important;
}

.transform {
    transform: rotateZ(-41deg);
}

.rotate {
    display: none !important;
}

@media (min-width: 40rem) {
    
    body {
          grid-row-gap: 1rem;
    }
    
      #menu-button {
    display: none;
    }
    
    
    #navbar {
        display: flex;
        justify-content: space-between;
    }
    
    #navbar ul {
          display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #projects-section {
        flex-direction: row;
        justify-content: center;
    }
  
    .project-type ul {
    color: var(--medium);
   
}
    
    .project-header {
       
    }
