@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald:wght@400;600&display=swap');

:root {
    --darkest: rgba(0, 0, 0, 0.75);
    --medium: #6f6c9e; /* nav links */
    --lightest: #e3c09b; /* hover */
    --accent: #bb7db2; /* accent */
}

body {
    font-family: 'Oswald', sans-serif;
    color: var(--medium);
    display: grid;
}

.backdrop {
    height: 100vh;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

a, a:visited {
    text-decoration: none;
    cursor: pointer;
    color: var(--medium);
}

a:hover, a:active {
    color: var(--lightest);
}

.main-header {
    width: 95%;
    padding: 0;
    position: fixed;
    top: 0;
    background: transparent;
    z-index: 1;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.mobile-nav {
  display:none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 60%;
  height: 100vh;
}

.mobile-nav__items {
  width: 70%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

#navbar {
    display: none;
}

#navbar ul {
  width: 18rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style:none;

}

#navbar li {
    font-variant:small-caps;
    font-size:1.2rem;
}

.title {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

main {
 width: 100%;
}

footer {
    display: flex;
    justify-content: center;
}

footer li {
    display: inline-block;
    padding: 0 2.5rem;
}


.show {
    display: block !important;
}

@media (min-width: 40rem) {
    
    body {
          grid-row-gap: 1rem;
    }
    
      .toggle-button {
    display: none;
    }
    
    
    #navbar {
        display: flex;
        justify-content: space-between;
    }
    
    #navbar ul {
          display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #projects-section {
        flex-direction: row;
        justify-content: center;
    }
  
    .project-type ul {
    color: var(--medium);
   
}
    
    .project-header {
       
    }
