.title-section {
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
    position: relative;
    top: 250px;
    left: 170px;
    color: white;
    z-index: -2;
}

main {
    margin: 2rem auto;
    display: flex;
    flex-direction: column-reverse;
    width: 30rem;
    justify-content: space-between;
    align-items: center;
}


.about-section {
    width:95%;
    align-self:center;
}

.about-img {
    width:100%;
}

.about-img img {
    width: 100%;
    border-radius: 10% 25%;
}

@media (min-width: 40rem) {
    .title-section {
        margin: 5rem auto 0 auto;
        grid-row: 2;
        position: static;
        color: purple;
        
    }
    main {
        grid-row: 3;
        width: 55rem;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .about-section {
        width: 45%;
    }
    
    .about-img {
    width:45%;
}

}